<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Tweetful</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="masthead">
        <h1 class="masthead-heading">Tweetful</h1>
        <p class="masthead-intro">Making the internet more thoughtful</p>
    </header>
    <div class="info-container">
    <section class="info">  
        <header>
            <h2>About Tweetful</h2>
        </header>
        <p>
        Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
        </p>
    </section>
    <section class="info">  
        <header>
            <h2>What Makes Us Different</h2>
        </header>
        <p>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </section>
    <section class="info">  
        <header>
            <h2>Company History</h2>
            <p>
              Bunch of latin
            </p>
        </header>
    </section>
    
    <section>  
      <header>
      </header>
    </section>
    </div>
    <footer>
      Contact us: <span>admin@tweetful.io</span>
    </footer>
    
</body>
</html>